*,*::after, *::before{
    box-sizing: border-box;
    font-family:'century Gothic';
}

body{
    background: linear-gradient(to right, #0b0311, #040020);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock{
    width: calc(var(--clockSize,500)*1px);
    height: calc(var(--clockSize,500)*1px);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 5px #000;
    border: 10px solid rgb(162, 162, 162);
    outline: 5px solid rgb(32, 32, 32);
} 

.clock .number{
    position: absolute;
    width: 100%;
    height:100%;
    text-align: center;
    transform: rotate(calc(var(--rotation)* 1deg));
    padding: 5px;
    font-size: 24px;
}

.clock .number span{
    display: block;
    transform: rotate(calc(var(--rotation)* 1deg));
    padding: 5px;;
}

.clock .hand{
    --rotation: 0;
    position: absolute;
    bottom:50%;
    left:50%;
    box-shadow: 0 0 2px #fff;
    border-radius: 10px 10px 0 0;
    z-index: 10;
    transform-origin: bottom;
    transform: translate(-50%) rotate(calc(var(--rotation)* 1deg));
}

.clock::after{
    content:'';
    position: absolute;
    background-color: #000;
    z-index: 11;
    width: 15px;
    height:15px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid #000;
}

.clock .hand.second{
    width:4px;
    height: 46%;
    background-color: red;
}

.clock .hand.minute{
    --rotation: 30;
    width:7px;
    height: 35%;
    background-color: black;
}

.clock .hand.hour{
    --rotation:60;
    width: 10px;
    height: 27%;
    background-color: black;
}

.clock .current-time{
    position: absolute;
    width: 100%;
    height:100%;
    top: 65%;
    left: 50%;
    z-index: 12;
    transform-origin: bottom;
    transform: translate(-50%);
    text-align: center;
    font-size: 16px;
}

.point {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height:100%;
    text-align: center;
    transform: rotate(calc(var(--rotation) * 1deg) );


}

.point span{
    content:'';
    position: absolute;
   border: 1px solid #000;
    z-index: 10;
    width: 5px;
    height:5px;
    transform: translate(-50%);
    border-radius: 50%;
    border: 1px solid #000;
    margin:3px;
    text-align: center;
    background-color: var(--backgroundColor,rgba(29, 29, 29, 0.083));

}

